.container {
  height: 800px;
  background-size: cover;
  background-image: linear-gradient(to right, #21cb7257, #b0b02f52),
    url(./demo.jpg);
}
.btn {
  padding: 17px 10px;
  margin: 0 auto;
  background-color: #8bc34a;
  border-radius: 38%;
  width: 100px;
  display: block;
  cursor: pointer;
  font-size: 1em;
  font-family: cursive;
  color: black;
  border: 2px solid yellowgreen;
}
